# Web Server & Async
fastapi
uvicorn[standard]
python-dotenv
aiohttp

# Database & Auth
SQLAlchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]

# AI Core
openai
google-generativeai
chromadb
langchain-community

python-multipart